@page
@model DW_26256_27229.Pages_Inscricoes.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>Inscricao</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Inscricao.UtilizadorId" class="control-label"></label>
                <select asp-for="Inscricao.UtilizadorId" class ="form-control" asp-items="ViewBag.UtilizadorId" ></select>
            </div>
            <div class="form-group">
                <label asp-for="Inscricao.EventoId" class="control-label"></label>
                <select asp-for="Inscricao.EventoId" class ="form-control" asp-items="ViewBag.EventoId" ></select>
            </div>
            <div class="form-group">
                <label asp-for="Inscricao.DataInscricao" class="control-label"></label>
                <input asp-for="Inscricao.DataInscricao" class="form-control" />
                <span asp-validation-for="Inscricao.DataInscricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

