@page "{id?}"
@model ErrorModel
@{ViewData ["Title"]="Erro";}
<h1 class="text-danger">Ocorreu um erro.</h1>
@if(Model.StatusCode.HasValue){
<h2>Código: @Model.StatusCode</h2>
}else{
<h2>Erro no processamento do pedido.</h2>
}