@page
@model IndexModel
@{ViewData["Title"]="Home";}
<div class="text-center">
<h1 class="display-4">Bem-vindo aos Eventos</h1>
<p> Descobre e inscreve-te nos melhores workshops </p>
<a asp-page="/Eventos/Index" class="btn btn-primary">Ver Eventos</a>
</div>