@page
@model DW_26256_27229.Pages.SobreModel
<h1>Sobre o Projeto</h1>
<ul>
    <li>Eng. Informática - Desenvolvimento Web - 2025/2026</li>
    <li>Autores: Tiago e Rodrigo</li>
    <li>Bibliotecas: Bootstrap, jQuery</li>
</ul>