@page
@model DW_26256_27229.Pages.SobreModel
@{ViewData["Title"]="Sobre";}
<h1>Sobre Nós</h1>
<ul>
    <li>Curso: Eng. Informática - Desenvolvimento Web - 2025/2026</li>
    <li>Autores: Tiago Polidoro (27229) e Rodrigo Borges (27229) </li>
    <li>Bibliotecas: ASP.NET Core, EntityFramework, Bootstrap, jQuery (NuGet/Web)</li>
    <li>Credenciais: professor@ipt.pt (pass: 123) | admin@ipt.pt (pass: 123) | aluno@ipt.pt (pass: 123)</li>
</ul>